body{
	margin: 0px;
	background-color: rgb(12, 12, 12);
}

.main-img{
	width: 100%;
}

.container {
	height: 600px;
	position: relative;
	text-align: center;
	color: rgb(231, 231, 231);
	z-index: -1;
}

.centered {
	position: absolute;
	top: -10%;
	left: 50%;
	transform: translate(-50%, 50%);
	font-size: 120px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	white-space: nowrap;
	-webkit-text-stroke: 2px rgb(19, 19, 19);
}

.main-hder {
	width: 80%;
	height: 10%;
	background-color: rgba(26, 182, 209, 0.5);
	margin: auto;
	margin-top: 20px;
	border-radius: 13px;
	align-content: normal;
	align-items: center;

	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	z-index: 999;
}

.main-hder > nav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10%;
  height: 70%;
  border-radius: 13px;
  background-color: rgba(8, 8, 8, 0.8);
  margin: auto;
}

nav p {
	color: rgb(218, 198, 18);
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 120%;
}

p {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 20px;
	color: white;
	letter-spacing: 2px;
	word-spacing: 4px;
	
}

.intro-container {
	width: 50%;
  	height: 2000px;
  	background-color: rgba(26, 182, 209, 0.5);
  	padding: 0;
  	margin: 100px auto 0 auto;
  	
  	align-items: center;
  	justify-content: center;
}

.intro-img {
	width: 800px;
	height: 450px;
	margin: auto;
	margin-top: 40px;
	padding-top: 100px;

	background-image: url("../img/dmitry-popovichev-night-screenshot.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}


/*.intro-img:hover {
	width: 90%;
	height: 450px;
	margin: auto;
	margin-top: 10px;

	background-image: url("../img/dmitry-popovichev-day-screenshot.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}*/



.intro-text-container {
	width: 80%;
	height: 750px;
	background-color: rgba(26, 182, 209, 0.5);
	padding-top: 50px;
	align-self: center;
}

.temp-spacer {
	width: 80%;
	height: 200px;
	margin: 50px;
	background-color: rgba(26, 182, 209, 0.5);
}

